  .carousel {
    overflow: hidden;



    width: 100vh;
    min-width: 1440px;
    max-width:320px;
  }
@media screen and (min-width:320) and (max-width:480){
  .carousel {
    width: auto;
  }

  .carousel-item {
    width: auto;
  }

  #image-size {
    width: auto;

}
  
}
  .carousel {
    overflow: hidden;
    width: auto;
    
  }
  .inner {
    white-space: nowrap;
    transition: transform 0.01s;
    
  }
  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    filter: brightness(70%);
    width: auto;
    block-size: auto;

  }

  #image-size {
   
    width: auto;
    /* block-size: auto; */

    /* height:auto; */

}
/* 
  @media screen and (min-width: 768) and (max-width: 1440px){
    .carousel {

      max-width: 1440px;
    }

    .carousel-item {
      max-width: 1440px
    }

    #image-size {
      max-width:1440px;

      
  }
  } */


  /* @media screen and (min-width: 320px) and (max-width: 480px) {
    .carousel {
    
      height: 240px;
      width: 320px;
      max-height: 260px;
      max-width: 480;
    }
      .carousel-item {
    
        height: 240px;
        width: 320px;
        max-height: 260px;
        max-width: 480;
      }
    } */
  

  
 






  .indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0% 0.1%; */
  }
  
  .indicators > button {
    height: 15px;
    width: 15px;
    /* margin: 0 2px; */
    background-color: rgb(235, 235, 235);
    border-color: transparent;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin: 0.5%;
    
  }
  
  .indicators > button.active {
    height: 15px;
    width: 15px;
    /* margin: 0 2px; */
    background-color: #bbb;
    border-color: transparent;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin: 0.5%;
  }

  
/* text on carousel */

.laoding-and-error {
    font-size: 0.8em;
    font-family: Arial;
    color: #3f3f3f;
}

.hero {
    width: 50%;
    position: relative;
    justify-content: center;
    text-align: flex-start;


    
    /* z-index: -1; */
}

@font-face {
    font-family: 'caslon';
    src: url('./fonts/ACaslonPro-Regular.otf')
  }
  
  @font-face {
    font-family: 'springville';
    src: url('./fonts/Springville-Regular3.otf')
  }

.Hero-text {
    position: absolute;
    bottom: 25%;
    padding: 0% 16%;
    color: #ffff;

    /* z-index: 2; */
}

@media only screen and (max-width: 1024px) {
    .Hero-text {
     bottom: 12%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .Hero-text {
     bottom: 20%;
    }
}

#title {
    font-family: springville;
    font-size: 3em;
}

#date {
    font-family: caslon;
    font-size: 2em;
}

#subtitle {
    font-family: caslon;
    font-size: 1em;
}


