.laoding-and-error {
    font-size: 1em;
    font-family: Arial;
    color: #3f3f3f;
}

.hero {
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
}

.Hero-text {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

