html,body
{
  /* to prevent white space */
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'caslon';
  src: url('./fonts_logo/ACaslonPro-Regular.otf');
  /* font-weight: normal; */
}

@font-face {
  font-family: 'springville';
  src: url('./fonts_logo/Springville-Regular3.otf');
  font-weight: normal;
}
