html,body
{
  /* to prevent white space */
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @font-face {
  font-family: 'caslon';
  src: url('./fonts/ACaslonPro-Regular.otf')
}

@font-face {
  font-family: 'springville';
  src: url('./fonts/Springville-Regular3.otf')
} */
